<a href="https://colab.research.google.com/github/Tatsuyuki-Matsuda/EU_M_Math-Repository/blob/main/Chap02_Ex_07_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Exercise 2-7
import pandas as pd
from pandas import Series, DataFrame

attri_data1 = {'ID':['1','2','3','4','5'],
               'Sex':['F','F','M','M','F'],
               'Money':[1000,2000,500,300,700],
               'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}
attri_data_frame1 = DataFrame(attri_data1)

attri_data_frame1[attri_data_frame1.Money>= 500]

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
2  3   M    500      Kondo
4  5   F    700  Matsubara

In [2]:
#Exercise 2-8

attri_data_frame1.groupby('Sex')['Money'].mean()

Sex
F    1233.333333
M     400.000000
Name: Money, dtype: float64

In [3]:
#Exercise 2-9
attri_data2 = {'ID':['3','4','7'],
               'Math':[60,30,40],
               'English':[80,20,30]}

attri_data_frame2 = DataFrame(attri_data2)

data = attri_data_frame1.merge(attri_data_frame2)
data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

ID          17.0
Money      400.0
Math        45.0
English     50.0
dtype: float64