<a href="https://colab.research.google.com/github/Tatsuyuki-Matsuda/EU_M_Math-Repository/blob/main/Chap06_Ex_13_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Ex-13
import numpy as np
from numpy import nan as NA
import pandas as pd

df2 = pd.DataFrame(np.random.rand(15,6))

df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA

df2.dropna()

           0         1         2         3         4         5
0   0.181525  0.251433  0.941214  0.918110  0.442181  0.354037
1   0.746067  0.513784  0.749490  0.104334  0.011656  0.338029
3   0.422634  0.152471  0.885241  0.538020  0.811607  0.389185
4   0.004386  0.677573  0.640055  0.579441  0.447166  0.308475
9   0.913512  0.106997  0.615839  0.305157  0.908144  0.946015
11  0.290219  0.139772  0.669834  0.133457  0.457245  0.674583
12  0.214701  0.624079  0.617252  0.014065  0.549545  0.659620
13  0.015633  0.649016  0.942027  0.032078  0.893250  0.293055
14  0.644584  0.264233  0.603595  0.538007  0.665909  0.651082

In [5]:
#Ex-14
df2.fillna(0)

           0         1         2         3         4         5
0   0.181525  0.251433  0.941214  0.918110  0.442181  0.354037
1   0.746067  0.513784  0.749490  0.104334  0.011656  0.338029
2   0.000000  0.698897  0.485544  0.053723  0.470134  0.986766
3   0.422634  0.152471  0.885241  0.538020  0.811607  0.389185
4   0.004386  0.677573  0.640055  0.579441  0.447166  0.308475
5   0.428939  0.456562  0.000000  0.267188  0.110615  0.625522
6   0.596619  0.621349  0.000000  0.854388  0.385895  0.026154
7   0.450695  0.953558  0.000000  0.000000  0.566822  0.060884
8   0.574058  0.673019  0.144246  0.000000  0.580109  0.930980
9   0.913512  0.106997  0.615839  0.305157  0.908144  0.946015
10  0.770144  0.171621  0.567248  0.744159  0.590689  0.000000
11  0.290219  0.139772  0.669834  0.133457  0.457245  0.674583
12  0.214701  0.624079  0.617252  0.014065  0.549545  0.659620
13  0.015633  0.649016  0.942027  0.032078  0.893250  0.293055
14  0.644584  0.264233  0.603595  0.538007  0.665909  0.651082

In [6]:
#Ex-15
df2.fillna(df2.mean())

           0         1         2         3         4         5
0   0.181525  0.251433  0.941214  0.918110  0.442181  0.354037
1   0.746067  0.513784  0.749490  0.104334  0.011656  0.338029
2   0.446694  0.698897  0.485544  0.053723  0.470134  0.986766
3   0.422634  0.152471  0.885241  0.538020  0.811607  0.389185
4   0.004386  0.677573  0.640055  0.579441  0.447166  0.308475
5   0.428939  0.456562  0.655132  0.267188  0.110615  0.625522
6   0.596619  0.621349  0.655132  0.854388  0.385895  0.026154
7   0.450695  0.953558  0.655132  0.390933  0.566822  0.060884
8   0.574058  0.673019  0.144246  0.390933  0.580109  0.930980
9   0.913512  0.106997  0.615839  0.305157  0.908144  0.946015
10  0.770144  0.171621  0.567248  0.744159  0.590689  0.517456
11  0.290219  0.139772  0.669834  0.133457  0.457245  0.674583
12  0.214701  0.624079  0.617252  0.014065  0.549545  0.659620
13  0.015633  0.649016  0.942027  0.032078  0.893250  0.293055
14  0.644584  0.264233  0.603595  0.538007  0.665909  0.651082